@page "/"
@using CvBlazorSite.Models
@inject IHttpClientFactory ClientFactory


<PageTitle>Andreas Larsen</PageTitle>

<MudGrid Class="title" Justify="Justify.SpaceBetween">
    <MudItem xs="8">
        <Animation Effect="@Effect.BounceInLeft" Speed="@TimeSpan.FromMilliseconds(1000)" Delay="@TimeSpan.FromMilliseconds(10)">
            <MudText Class="TitleH1" Typo="Typo.h1" GutterBottom="true">ANDREAS</MudText>
        </Animation>
    </MudItem>
    <MudItem>
        <Animation Effect="@Effect.FadeInUp" Speed="@TimeSpan.FromMilliseconds(1500)" Delay="@TimeSpan.FromMilliseconds(750)">
            <MudText Class="TitleH2" Color="Color.Secondary" Typo="Typo.h2" Align="Align.Right" GutterBottom="true">DEVOPS</MudText>
        </Animation>
    </MudItem>

    <MudItem>
        <Animation Effect="@Effect.FadeInDown" Speed="@TimeSpan.FromMilliseconds(1750)" Delay="@TimeSpan.FromMilliseconds(750)">
            <MudText Class="TitleH2" Color="Color.Secondary" Typo="Typo.h2" GutterBottom="true">ENGINEER</MudText>
        </Animation>
    </MudItem>
    <MudItem>
        <Animation Effect="@Effect.BounceInRight" Speed="@TimeSpan.FromMilliseconds(1250)" Delay="@TimeSpan.FromMilliseconds(10)">
            <MudText Class="TitleH1" Typo="Typo.h1" Align="Align.Right" GutterBottom="true">LARSEN</MudText>
        </Animation>
    </MudItem>
</MudGrid>


<MudPaper Class="siteBlock" Elevation="3">
    <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.Center">

    </MudStack>
</MudPaper>

<MudPaper Class="siteBlock" Elevation="3">
    <MudText Typo="Typo.h5">Skills</MudText>
    <MudSpacer/>
    <MudDataGrid Items="@_competencies" Dense="true" Breakpoint="Breakpoint.None">
        <Columns>
            <PropertyColumn Property="x => x.Name"/>
            <PropertyColumn Property="x => x.YearsOfExperience" Title="Antal år"/>
            <PropertyColumn Property="x => x.CompetencyLevel" Title="Nivå"/>
        </Columns>
    </MudDataGrid>
</MudPaper>

<div class="my-5">
<MudPaper Class="siteBlock" Elevation="3">
    <MudText Typo="Typo.h5">Projekt</MudText>
    <MudSpacer />
    <MudDataGrid Items="@_projects" Dense="true" Breakpoint="Breakpoint.None">
        <Columns>
            <PropertyColumn Property="x => x.Name" />
            <PropertyColumn Property="x => x.Type" Title="Type" />
            <PropertyColumn Property="x => x.Description" Title="Beskrivning" />
        </Columns>
    </MudDataGrid>
</MudPaper>
    
</div>




@code
{
    private IEnumerable<Competency> _competencies = new List<Competency>();
    private IEnumerable<Project> _projects = new List<Project>();
    

    protected override async Task OnInitializedAsync()
    {
        var client = ClientFactory.CreateClient("CvAPI");
        _competencies = await client.GetFromJsonAsync<List<Competency>>("api/competencies");
        var projects = await client.GetFromJsonAsync<List<Project>>("api/projects");


        _projects = projects.OrderBy(p => p.StartYear).Reverse();
        
    }


}